<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/user :: mainContent('Booking Success', ~{this :: .span9})}">
<head>
	<title></title>
</head>
<body>
    <div class="span9">
        <!-- Breadcrumb -->
        <section class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-area-content">
                            <h1>Booking Successful</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Main Content -->
        <section class="details-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="booking-success-container text-center">
                            <h2>Congratulations! You have successfully booked your ticket.</h2>
                            <p>Please check your email for detailed ticket information.</p>
                            <a href="/" class="theme-btn">Return to homepage</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>